image: docker:latest

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
    
services:
  - docker:dind
  
before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

after_script:
  - docker logout

stages:
 - 2019
#  - 2020

2019_basic:
  stage: 2019
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE_BASIC":2019 --file Dockerfile.basic .
    - docker push "$CI_REGISTRY_IMAGE_BASIC":2019
  only:
    - master
    
2019_full:
  stage: 2019
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE_FULL":2019 --file Dockerfile.full .
    - echo "done!"
    - docker push "$CI_REGISTRY_IMAGE_FULL":2019
  only:
    - master