image: docker:latest

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
    
services:
  - docker:dind
  
before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

after_script:
  - docker logout

stages:
 - build

basic:
  stage: build
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE_BASIC":2019 --file Dockerfile.basic .
    - docker push "$CI_REGISTRY_IMAGE_BASIC":2019
  only:
    - master
    
full:
  stage: build
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE_FULL":2019 --file Dockerfile.full .
    - docker push "$CI_REGISTRY_IMAGE_FULL":2019
    - echo "done!"
  only:
    - master